@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 97%;
    --foreground: 0 0% 23%;
    --card: 210 20% 97%;
    --card-foreground: 0 0% 23%;
    --popover: 210 20% 97%;
    --popover-foreground: 0 0% 23%;
    --primary: 186 30% 54%;
    --primary-foreground: 210 20% 97%;
    --secondary: 186 38% 67%;
    --secondary-foreground: 0 0% 23%;
    --muted: 184 20% 89%;
    --muted-foreground: 0 0% 42%;
    --accent: 184 20% 89%;
    --accent-foreground: 0 0% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 97%;
    --border: 184 20% 89%;
    --input: 184 20% 89%;
    --ring: 186 30% 54%;
    --chart-1: 186 30% 54%;
    --chart-2: 186 38% 67%;
    --chart-3: 184 20% 89%;
    --chart-4: 0 0% 55%;
    --chart-5: 0 0% 42%;
    --radius: 0.5rem;
  }
  /* .dark {
    --background: 0 0% 23%;
    --foreground: 210 20% 97%;
    --card: 0 0% 42%;
    --card-foreground: 210 20% 97%;
    --popover: 0 0% 42%;
    --popover-foreground: 210 20% 97%;
    --primary: 186 38% 67%;
    --primary-foreground: 0 0% 23%;
    --secondary: 186 30% 54%;
    --secondary-foreground: 210 20% 97%;
    --muted: 0 0% 42%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 42%;
    --accent-foreground: 210 20% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 97%;
    --border: 0 0% 55%;
    --input: 0 0% 55%;
    --ring: 186 38% 67%;
    --chart-1: 186 38% 67%;
    --chart-2: 186 30% 54%;
    --chart-3: 0 0% 55%;
    --chart-4: 0 0% 42%;
    --chart-5: 184 20% 89%;
  } */
}

@layer base {
  html {
    font-size: 125%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
